.overView {
  border-radius: 10px;
  background: #fff;
  padding: 17px 30px;
  margin-bottom: 30px;
  h3 {
    color: #324168;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
  }
  p {
    color: #99abd8;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding-top: 10px;
  }
}
