@import "../../../assets/theme/_var.scss";

.project {
  &__overview {
    padding: 1.8rem 3rem;
    background-color: $white;
    border-radius: 1rem;
    font-size: 1.4rem;
    min-height: 2.1;

    @media (max-width: 767px) {
      padding: 1.5rem 2rem;
    }

    strong {
      margin-bottom: 1rem;
    }

    p {
      color: $lightBlue2;
    }
  }
}

/* markdown-styles.css */

/* Style for the container wrapping the rendered Markdown content */

/* Header styles */
.project_info {
  padding: 1.8rem 3rem;
  background-color: $white;
  border-radius: 1rem;
  font-size: 1.4rem;
  min-height: 2.1;
  color: black;

  &_wrapper {
    width: 80%;
  }

  h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  /* Paragraph styles */
  p {
    margin-bottom: 10px;
    color: black;
  }

  /* Emphasis styles */
  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }

  /* List styles */
  ul,
  ol {
    margin-bottom: 10px;
    padding-left: 20px;
  }

  /* Blockquote styles */
  blockquote {
    margin: 0 0 10px;
    padding: 10px;
    border-left: 4px solid #ddd;
  }

  /* Code block styles */
  pre {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 4px;
    overflow-x: auto;
  }

  code {
    font-family: monospace;
    color: #333;
  }

  /* Image styles */
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  /* Link styles */
  a {
    color: #007bff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.info-card__content {
  h6 {
    font-size: 16px;
    height: 32px;
    overflow: hidden;
    word-break: break-word;
  }
}

.project {
  .select__control {
    height: 46px;
    background-color: $white;
    border-radius: 10px;
    width: 100%;

    div {
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 23px;
      letter-spacing: 0.48px;
      text-transform: uppercase;
    }
  }
  .select__menu {
    .select__menu-list .select__option--is-focused {
      background-color: rgba(79, 135, 255, 0.199) !important;
    }
  }
}

.dropdown_project {
  @media (max-width:1400px) {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  .green {
    .select__value-container {
      .select__single-value {
        color: $green !important;
      }
    }

    .select__indicator {
      background-image: url("../../../assets/images/greendownarrow.svg") !important;
    }
  }

  .red {
    .select__value-container {
      .select__single-value {
        color: $red !important;
      }
    }

    .select__indicator {
      background-image: url("../../../assets/images/downiconrd.svg") !important;
    }
  }

  .green {
    div {
      color: $green !important;

      &:nth-child(1) {
        color: $yellow !important;
      }

      &:nth-child(3) {
        color: $red !important;
      }
    }
  }

  .yellow {
    div {
      color: $yellow !important;

      &:nth-child(2) {
        color: $green !important;
      }

      &:nth-child(3) {
        color: $red !important;
      }
    }
  }

  .red {
    div {
      color: $red !important;

      &:nth-child(2) {
        color: $green !important;
      }

      &:nth-child(1) {
        color: $yellow !important;
      }
    }
  }
}

.dropdown_project {
  .select__indicator {
    padding: 0;
    background-image: url("../../../assets/images/dropdownicon.png") !important;
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
    background-position: center;
    height: 20px;
    width: 20px;

    svg {
      display: none;
    }
  }
}
