@import "../../../assets/theme/_var.scss";
.applicationsSec {
  .heading {
    h3 {
      color: #324168;
    }
  }
  .aplicationTop {
    margin-top: 17px;
    overflow: auto;
  }
  .aplicationTable {
    &.table {
      > thead {
        tr {
          border: 0 !important;
          th {
            border: 0;
          }
        }
      }
      tr {
        th,
        td {
          font-size: 12px;
          padding: 16px 30px;
        }
      }
      thead {
        border: none;
      }
      tbody {
        p {
          color: #4a577b;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          margin-bottom: 5px;
          span {
            color: #324168;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
          }
        }
        .multiImg {
          width: 30px;
          height: 30px;
          border-radius: 20px;
          margin-left: 5px;
        }
      }
    }
    .multiImgsDiv {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      justify-content: center;
      align-content: center;
      align-items: center;
    }
    .buttonCustomOuter {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .opnBtn {
      border-radius: 4px;
      background: #fff;
      color: #0065f9;
      font-size: 12px;
      font-weight: 600;
      padding: 8px 17px;
      border: 1px solid #fff;
    }
    .closeBtn {
      border-radius: 4px;
      border: 1px solid #fff;
      color: #fff;
      font-size: 12px;
      font-weight: 600;
      padding: 8px 17px;
      background-color: transparent;
      // margin-left: 9px;
    }
  }
}
.applicationCard {
  height: auto;
}
.rowGap {
  gap: 2rem;
}
.tableHash {
  color: #324168;
}

.applicationsSec {
  .dropdown_project {
    @media (max-width:1400px) {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;
      margin-bottom: 10px;
    }
    .green {
      .select__value-container {
        .select__single-value {
          color: $green !important;
        }
      }
  
      .select__indicator {
        background-image: url("../../../assets/images/greendownarrow.svg") !important;
      }
    }
  
    .red {
      .select__value-container {
        .select__single-value {
          color: $red !important;
        }
      }
  
      .select__indicator {
        background-image: url("../../../assets/images/downiconrd.svg") !important;
      }
    }
  
    .green {
      div {
        color: $green !important;
  
        &:nth-child(1) {
          color: $yellow !important;
        }
  
        &:nth-child(3) {
          color: $red !important;
        }
      }
    }
  
    .yellow {
      div {
        color: $yellow !important;
  
        &:nth-child(2) {
          color: $green !important;
        }
  
        &:nth-child(3) {
          color: $red !important;
        }
      }
    }
  
    .red {
      div {
        color: $red !important;
  
        &:nth-child(2) {
          color: $green !important;
        }
  
        &:nth-child(1) {
          color: $yellow !important;
        }
      }
    }
  }
  .dropdown_project {
    .select__indicator {
      padding: 0;
      background-image: url("../../../assets/images/dropdownicon.png") !important;
      background-repeat: no-repeat;
      width: 1rem;
      height: 1rem;
      background-position: center;
      height: 20px;
      width: 20px;
  
      svg {
        display: none;
      }
    }
  }
  .select__control {
    height: 46px;
    background-color: $white;
    border-radius: 10px;
    width: 100%;

    div {
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 23px;
      letter-spacing: 0.48px;
      text-transform: uppercase;
    }
  }
  .select__menu {
    .select__menu-list .select__option--is-focused {
      background-color: rgba(79, 135, 255, 0.199) !important;
    }
  }

}
