.sortIcon {
  display: flex;
  align-items: center;
  position: relative;
  width: fit-content;
  span {
    cursor: pointer;
    position: absolute;
    right: -40px;
  }
  img {
    max-width: 20px;
  }
}

.dashboard {
  table {
    th,
    td {
      width: 16.66%;
    }
  }
}
