@import "../../../assets/theme/_var.scss";

.home {
  min-height: 100vh;
  padding-bottom: 3rem;
  background-image: url(../../../assets/images/home_bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  @media (max-width: 767px) {
    background-size: cover;
  }

  .container {
    max-width: 1350px;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 11rem);
  }

  &-header {
    padding: 3rem 0;

    .btn-style {
      min-width: 12rem;

      @media (max-width: 575px) {
        min-width: fit-content;
      }
    }

    @media (max-width: 767px) {
      padding: 2rem 0;
    }

    @media (max-width: 575px) {
      padding: 1rem 0;
    }

    &-logo {
      @media (max-width: 767px) {
        max-width: 8rem;
      }
    }
  }

  &-top {
    text-align: center;
    margin: 0 auto 2rem;
    max-width: 1000px;
    width: 100%;

    @media (max-width: 575px) {
      margin-top: 3rem;
    }

    h1 {
      font-size: 5.4rem;
      line-height: 7rem;
      font-weight: 800;
      color: #1d1e25;
      margin-bottom: 1.6rem;

      @media (max-width: 1679px) {
        font-size: 4.4rem;
        line-height: 6rem;
      }

      @media (max-width: 767px) {
        font-size: 3.4rem;
        line-height: 5rem;
      }

      @media (max-width: 575px) {
        font-size: 2rem;
        line-height: 3rem;
        margin-bottom: 1rem;

        br {
          display: none;
        }
      }

      span {
        color: #005ffe;
        display: inline;

        @media (max-width: 767px) {
          br {
            display: none;
          }
        }
      }
    }

    h4 {
      color: rgba(29, 30, 37, 0.7);
      text-align: center;
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 160%;
      letter-spacing: 0.72px;

      @media (max-width: 1679px) {
        font-size: 2rem;
      }

      @media (max-width: 767px) {
        font-size: 1.8rem;
      }

      @media (max-width: 575px) {
        font-size: 1.5rem;
      }
    }
  }

  &-imgs {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 2.5rem;

    @media (max-width: 1199px) {
      gap: 1.8rem;
    }

    &-middle {
      @media (max-width: 1199px) {
        flex: 0 0 100%;
        order: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    &-left,
    &-right {
      position: relative;

      // @media (max-width: 1199px) {
      //   width: 48%;
      // }

      p {
        position: absolute;
        top: 2rem;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        color: $black;

        @media (max-width: 575px) {
          font-size: 1.2rem;
        }
      }
    }
  }

  .explore-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
    min-width: 17.5rem;
    margin: 3rem auto 0;
    padding: 0.6rem 0.6rem 0.6rem 3rem;
    border-radius: 1.5rem;

    @media (max-width: 575px) {
      border-radius: 1rem;
      font-size: 1.3rem;
      min-width: fit-content;
      padding: 0.6rem 0.6rem 0.6rem 0.6rem;
    }

    span {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 3.8rem;
      height: 3.8rem;
      border-radius: 1rem;
      margin-left: 1rem;
      background: #2ca4f5;
      flex-shrink: 0;

      @media (max-width: 575px) {
        width: 2.2rem;
        height: 2.2rem;
        border-radius: 0.8rem;

        svg {
          width: 1.2rem;
          height: 1.2rem;
        }
      }
    }

    &:hover {
      transform: translateY(-10px);
    }
  }
}

.responsive-container {
  width: 510px !important;
  height: 335px !important;
  padding: 2rem;
  border-radius: 2.5rem;
  background: $white;
  // box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0px 0px 15px 1px rgba(224, 220, 224, 1);
  -moz-box-shadow: 0px 0px 15px 1px rgba(224, 220, 224, 1);
  box-shadow: 0px 0px 15px 1px rgba(224, 220, 224, 1);

  @media (max-width: 1199px) {
    width: 410px !important;
    height: 335px !important;
  }

  @media (max-width: 991px) {
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1.8rem;
  }

  @media (max-width: 575px) {
    width: 100% !important;
    height: 225px !important;
  }

  .recharts-wrapper {
    width: 100% !important;
    height: 100% !important;
  }

  &.graph-chart {
    .recharts-yAxis {
      .recharts-layer {
        display: none;
      }
    }

    .recharts-surface {
      margin-left: -4rem;
      height: 100% !important;
    }
  }

  &.pie-chart {
    width: 320px !important;
    height: 280px !important;

    .recharts-wrapper {
      margin: 1.5rem auto 0;
      width: 90% !important;
      height: 90% !important;

      @media (max-width: 575px) {
        margin-top: 0.5rem;
      }

      svg {
        overflow: visible;
      }
    }

    // @media (max-width: 1199px) {
    //   width: 220px !important;
    //   height: 220px !important;
    // }
    // @media (max-width: 575px) {
    //   width: 180px !important;
    //   height: 180px !important;
    // }
  }
}

.recharts-text.recharts-cartesian-axis-tick-value {
  font-size: 13px;
}


.home-top {
  position: relative;
  z-index: 9;
  &::before {
    content: "";
    position: absolute;
    background-image: url('../../../assets/images/Vectorstar.png');
    left: 10px;
    height: 54px;
    width: 56px;
    background-repeat: no-repeat;
    top: -18px;
    z-index: -1;

    // @media (max-width:1299px) {
    //   left: 2%;
    // }

    @media (max-width:480px) {
      content: unset;
    }
  }
}