@import "../../../../assets/theme/_var.scss";

.filter-dropdown {
  .dropdown {
    &-toggle {
      > span {
        font-size: 1.4rem;
        letter-spacing: 0.42px;
        color: $darkBlue;

        svg {
          margin-top: -0.4rem;
          margin-right: 0.5rem;
        }
      }
    }
  }
  &__content {
    padding: 1.8rem 1.2rem;
    width: 30rem;

    @media (max-width: 575px) {
      width: 24rem;
    }

    ul {
      li {
        display: flex;
        align-items: center;

        &:not(:last-child) {
          margin-bottom: 1rem;
        }
        label {
          min-width: 5rem;
          font-size: 13px;
          font-weight: 500;
          letter-spacing: 0.39px;
          margin-right: 0.5rem;
        }
        .common_select {
          flex-grow: 1;
        }
      }
    }

    .btns-wrap {
      gap: 1rem;
      margin-top: 3rem;
      justify-content: center;
      a {
        padding: 0;
      }
      .btn-style {
        font-size: 1.2rem;
        width: 100%;

        @media (max-width: 575px) {
          font-size: 1rem;
        }
      }
      .dropdown-item.active,
      .dropdown-item:active {
        background-color: transparent;
        border-radius: 1rem;
      }
    }
  }
}
