@import "../../../../assets/theme/_var.scss";

.detail-card {
  background-color: $white;
  border-radius: 1.2rem;
  height: 100%;
  &__head {
    padding: 1.8rem 3rem;
    background: $gradient;
    color: $white;
    border-radius: 1.2rem 1.2rem 0 0;
    p {
      font-weight: 600;
    }
  }

  &__content {
    padding: 2.5rem 3rem;
    color: $darkBlue;
    li {
      font-size: 1.4rem;
      line-height: 1;
      display: flex;

      &:not(:last-child) {
        margin-bottom: 3rem;
      }

      strong {
        font-weight: 600;
        flex-basis: 20rem;
        flex-shrink: 0;
      }
      span {
        font-weight: 400;
        flex-grow: 1;
        margin-left: 0.8rem;
      }
    }
  }

  .common_table {
    &.table {
      border-radius: 0;

      > thead {
        background: #e9edf8;
        tr th {
          border-radius: 0;
          color: $darkBlue;
        }
      }

      tr {
        th,
        td {
          padding: 1.2rem 3rem;
        }
      }
    }
  }
}

.flex {
  &__content {
    strong,
    span {
      flex: 0 0 50% !important;
    }
  }
}
